
body{
    margin: 0px;
    font-family: inter;
    background-color: #B9D6F2;
}
.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    margin:0px;
}
.left, .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-size: 24px;
}
.left {
    background-color: #0a0f30;
    transform: skewX(13deg);
    margin-left:-10%;
}
.right {
    background-color: #0f4fa1;
    transform: skew(13deg);
    margin-right: -10%;
}
.mic{
    width: 150px;
    height: 120px;
    color: #0353A4;
    font-family: Itim;
    font-size: 50px;
}
.left-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: skewX(-13deg);
    width: 100%;
    padding-top: 250px;
}
.left-upper{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.right-content{
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    transform: skew(-13deg);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 250px;
    font-family: Itim;
}
.right-bottom{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.horizontal-left{
    width: 300px;
    background-color:#0353A4;
    height: 5px;
    border-radius:3px;
}
.horizontal-right{
    width: 300px;
    background-color:#061A40;
    height: 5px;
    border-radius:3px;
}
.buttton-host{
    width: 150px;
    background-color: #003559;
    outline:none;
    border: 0px;
    height: 50px;
    border-radius: 10px;
    margin-top:10px ;
    font-size: 30px;
    font-family: itim;
    color: #006DAA;
    cursor: pointer;
}
.button-join{
    width: 150px;
    background-color: #006DAA;
    outline:none;
    border: 0px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    color:#B9D6F2 ;
    font-family:itim;
    font-size: 30px;
    cursor: pointer;
}
.computer{
    width: 150px;
    height: 150px;
}
.compu{
    font-size:56px ;
    color: #061A40;
    margin-right: 10px;
}

.page2{
    background-color:#B9D6F2;
    height: 100vh;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    
}
.New{
    color: #000000;
    font-size: 30px;
    padding-top: 30px;
    font-family:itim ;
    padding-left: 30px;
    margin: 0px 0px 75px 0px;
}
.underline{
    height: 3px;
    width: 60px;
    border-radius: 3px;
    background-color:#000000;
    margin: 0px;
}
.underline-best {
    height: 3px;
    width: 151px;
    border-radius: 3px;
    background-color:#000000;
    margin: 0px;
}
.middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 28px;
    margin-top: 22px;
}
.boxes{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 405px;
    height: 250px;
}
.top{
    background-color: #FFFFFF;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bottom{
    background-color: #B9D6F2;
    height: 50%;
    border-radius: 10px;
}
.box-content{
    position: absolute;
    top: 45%;
    left: 10%;
}
.free{
    width:79px;
    height: 32px;
    background-color:#003559;
    color: #FFFF;
    border: 0px;
    border-radius: 5px;
    margin-right: 10px;
    
}
.img-here{
    width: 104px;
    height: 104px;
    background-color:#003559;
    position: absolute;
    top: 0%;
    left: 98%;
    border-radius: 10px;
}

.normal-event {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
}
.event {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width: 100%;
    flex: none;
}
.event-details {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    position: relative;
    border: 1px solid rgba(0, 0, 0);
    border-radius: 12px;
}
.event-cover-pic {
    width: 100%;
    height: 200px;
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.event-info {
    height: 200px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.entry-type {
    position: absolute;
    top: 44%;
    left: 10%;
    background-color: #003559;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}
.event-mode {
    position: absolute;
    top: 44%;
    left: 25%;
    background-color: #003559;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}
.event-pic {
    width: 110px;
    height: 110px;
    background-color: #003559;
    position: absolute;
    right: 12%;
    top: 11%;
}
.event-name {
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 62%;
    left: 12%;
}
.event-place {
    font-size: 14px;
    color: grey;
    position: absolute;
    left: 12%;
    top: 71%;
}
.event-time-left {
    color: grey;
    font-size: 14px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.event-view-box {
    width: 1250px;
    display: flex;
    overflow-x: scroll;
}
.event-view-box::-webkit-scrollbar {
    display: none;
}
#next,#prev {
    cursor: pointer;
}
.best-event {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
}
.best-event {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    width: 100%;
    flex: none;
}
.best-event-details {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    position: relative;
    border: 1px solid rgba(0, 0, 0);
    border-radius: 12px;
}
.best-event-cover-pic {
    width: 100%;
    height: 200px;
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.best-event-info {
    height: 200px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.best-entry-type {
    position: absolute;
    top: 44%;
    left: 10%;
    background-color: #003559;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}
.best-event-mode {
    position: absolute;
    top: 44%;
    left: 25%;
    background-color: #003559;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}
.best-event-pic {
    width: 110px;
    height: 110px;
    background-color: #003559;
    position: absolute;
    right: 12%;
    top: 11%;
}
.best-event-name {
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 62%;
    left: 12%;
}
.best-event-place {
    font-size: 14px;
    color: grey;
    position: absolute;
    left: 12%;
    top: 71%;
}
.best-event-time-left {
    color: grey;
    font-size: 14px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.best-event-view-box {
    width: 1250px;
    display: flex;
    overflow-x: scroll;
}
.best-event-view-box::-webkit-scrollbar {
    display: none;
}
.page2{
    display: flex;
    flex-direction: column;
}