body{
    font-family: "Inter", sans-serif;
}
.search-in {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}



.details_body{
    position: absolute;
    top:89px;
    left:0;
    right:0;
    height:1536px;
    background-color: #B9D6F2;
}
.body_search{
    font-size: 16px;
    color: white;
    background-color: #0353A4;
    padding: 11.5px 48.5px;
    border-radius:25px;
    box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.498);
    border: none;
    margin-top: 30px;
    margin-right:40px;
    margin-left: 300px;
    width: 125px;
}
.body_search::placeholder{
    display: inline;
    color: white;
}
p{
    display: inline-block;
    font-size: 16px;
    color: black;
}
.details_body_top{
    height:115px;
}
.details_body_bottom{
    height: 1234px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
}



.event-details {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    position: relative;
    border: 1px solid rgba(0, 0, 0);
    border-radius: 12px;
    flex:1
}
.event-cover-pic,.best-event-cover-pic {
    width: 100%;
    height: 200px;
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.event-info,.best-event-info {
    height: 200px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.entry-type,.best-entry-type {
    position: absolute;
    top: 44%;
    left: 10%;
    background-color: #003559;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}
.event-mode,.best-event-mode {
    position: absolute;
    top: 44%;
    left: 25%;
    background-color: #003559;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}
.event-pic,.best-event-pic {
    width: 110px;
    height: 110px;
    background-color: #003559;
    position: absolute;
    right: 12%;
    top: 11%;
}
.event-name,.best-event-name {
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 62%;
    left: 12%;
}
.event-place,.best-event-place {
    font-size: 14px;
    color: grey;
    position: absolute;
    left: 12%;
    top: 71%;
}
.event-time-left,.best-event-time-left {
    color: grey;
    font-size: 14px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.r-1{
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;

}
.c-1{
    flex:75;
    display: flex;
    justify-content: center;
    column-gap:39px;
}
.gap{
    flex:12.5
}
